<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.labelAI.mapper.TypeMapper">

    <resultMap id="BaseResultMap" type="com.example.labelAI.domain.Type">
            <result property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="typeColor" column="type_color" jdbcType="VARCHAR"/>
            <result property="currentSize" column="current_size" jdbcType="INTEGER"/>
            <result property="pageSize" column="page_size" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id,type_name,type_color,
        current_size,page_size
    </sql>


</mapper>
